<h1>Auteurs</h1>

<form (submit)="addAuteur()" [formGroup]="formAuteur">
  <div class="mb-3 row">
    <label for="prenom" class="col-sm-2 col-form-label">Prénom</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" id="prenom" formControlName="prenom" [class.is-invalid]="formPrenomCtrl.invalid" />
        <div *ngIf="formPrenomCtrl.hasError('required')" class="invalid-feedback">Le prénom est obligatoire</div>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="nom" class="col-sm-2 col-form-label">Nom</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" id="nom" formControlName="nom" [class.is-invalid]="formNomCtrl.invalid" />
        <div *ngIf="formNomCtrl.hasError('required')" class="invalid-feedback">Le nom est obligatoire</div>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="nationalite" class="col-sm-2 col-form-label">Nationalité</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" id="nationalite" formControlName="nationalite" [class.is-invalid]="formNationaliteCtrl.invalid" />
        <div *ngIf="formNationaliteCtrl.hasError('required')" class="invalid-feedback">La nationalité est obligatoire</div>
    </div>
  </div>

  <div>
    <input [disabled]="formAuteur.invalid" type="submit" class="btn btn-success" value="Ajouter" />
  </div>
</form>

<hr />

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Nationalité</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let auteur of auteurs$ | async">
      <td>{{ auteur.id }}</td>
      <td>
        <input type="text" class="form-control" #prenomInput [value]="auteur.prenom"/>
        <div *ngIf="updateId === auteur.id" class="valid-feedback d-block">Modification effectuée !</div>
      </td>
      <td>
        <input type="text" class="form-control" #nomInput [value]="auteur.nom"/>
        <div *ngIf="updateId === auteur.id" class="valid-feedback d-block">Modification effectuée !</div>
      </td>
      <td>
        <input type="text" class="form-control" #nationaliteInput [value]="auteur.nationalite"/>
        <div *ngIf="updateId === auteur.id" class="valid-feedback d-block">Modification effectuée !</div>
      </td>
      <td>
        <button class="btn btn-warning" (click)="updateAuteur(auteur.id, nomInput.value, prenomInput.value, nationaliteInput.value)">Modifier</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteAuteur(auteur)">Supprimer</button>
      </td>
    </tr>
  </tbody>

</table>