<nav>
  <a [routerLink]="['/home']" routerLinkActive="active">Accueil</a>
  |
  <a [routerLink]="['/livre']" routerLinkActive="active">Liste des livres</a>
  |
  <a [routerLink]="['/auteur']" routerLinkActive="active">Liste des auteurs</a>
  |
  <a [routerLink]="['/collec']" routerLinkActive="active">Liste des collections</a>
  |
  <a [routerLink]="['/editeur']" routerLinkActive="active">Liste des éditeurs</a>
  |
  <a [routerLink]="['/avis']" routerLinkActive="active">Liste des avis</a>
  |
  <a [routerLink]="['/genre']" routerLinkActive="active">Liste des genres</a>
</nav>
